<template>
  <div>
    ログイン済みヘッダー
  </div>
</template>

<script>
export default {
  data () {
    return {
    }
  },
  mounted () {
  },
  methods: {
  },
  components: {
  }
}
</script>

<style scoped>
@import '../../../style/layout/user_header.scss'
</style>
