<template>
  <div>
    <h2>ユーザー登録</h2>

    <div>メールアドレス</div>
    <input
      @input="updateUserEmail"
      :value="user.email"
    />
    <div>パスワード</div>
    <input
      @input="updateUserPass"
      :value="user.password"
    /><br>
    <button type="submit" @click="submitUser">ユーザー登録</button>
  </div>
</template>

<script>
import http from '../../http'

export default {
  data () {
    return {
      // フォームなどで送信する亀の情報を保存
      user: {
        email: 'yamamoto@gmail.com',
        password: 'pppppppp',
      }
    }
  },
  mounted () {
  },
  methods: {
    // ---------------------- ユーザー登録 ----------------------
    async submitUser () {
      // ユーザー登録を行っている。メールアドレス、パスワードが必須で情報は
      // data()のuserに詰めて渡している。
      try {
        const response = await http.post('/api/users/sign_up', this.user)
        // バリデーションのエラーが返ってきた場合の処理。
        // Emailアドレスが既に使われているなど。
        if (response.status === 202) {
          // エラー内容をdataに入れる。
          this.errors = response.data
        } else {
          // リダイレクト先指定。
          await this.$router.go()
          this.$router.push('/users')
        }
      } catch (error) {
        // サーバーもしくはネットワークのエラーが返ってきた場合の処理。
        console.log(error)
      }
    },
    // ---------------------- フォームに入力してある値をdata()にある値に保存するための関数。
    updateUserEmail (e) {
      this.user.email = e.target.value
    },
    updateUserPass (e) {
      this.user.password = e.target.value
    }
  },
  components: {
  }
}
</script>

<style scoped>
@import '../../../style/users/sign_up.scss'
</style>